@import './base.css';

.image-button {
  background-color:  var(--button-white);
  opacity: 1;
  border-radius: 10px;
  margin: 10px 0px 0px 0px;
}

.image-button-clicked {
  background-color: var(--color-background-mute);
  opacity: 0.25;
  border-radius: 10px;
  margin: 10px 0px 0px 0px;
}

.portrait {
  width: 75px;
  height: 75px;
  margin: 10px 0px 0px 0px;
}

.header {
  background-color: var(--color-background-soft) !important;
}

.header-item {
  color: var(--vt-c-white-soft) !important;
  margin: 5px;
}

.card {
  width: 60%;
  height: 85%;
  overflow: hidden;
  position: relative;
}

.card-title {
  height: 10%;
  font-size: 30px !important;
  background-color: var(--color-background);
  color: var(--vt-c-white-soft);
}

.card-subtitle {
  background-color: var(--color-background);
  color: var(--vt-c-white-soft);
}

.card-text {
  overflow-y: auto;
  height: 80%;
  width:  100%;
  right: 0;
  top: 0;
  background-color: var(--color-background);
  color: var(--vt-c-white-soft);
}

.card-actions {
  height:  10%;
  background-color: var(--color-background-soft);
  color: var(--vt-c-white-soft);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94%;
}

table {
  border: 1px solid;
  border-color: var(--vt-c-white-soft);
  border-radius: 5px;
  text-align: center;
  width: 100%;
  table-layout: fixed;
}
th {
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--vt-c-white-soft);
  background-color: var(--palia-blue);
  color: white;
  position: sticky;
  top: 0;
}
td {
  border: 1px solid;
  border-color: var(--vt-c-white-soft);
  padding: 10px;
  vertical-align: top;
}
tr:hover {background-color: var(--color-background-mute)}

.table-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.main {
  height: 100vh;
}