@import './base.css';

.button {
  background-color:  var(--button-white);
  opacity: 1;
}

.clicked {
  background-color: var(--color-background-mute);
  opacity: 0.25;
}

/*.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
}*/

.card {
  width: 60%;
  height: 80%;
  overflow: hidden;
  position:  relative;
}

.card-text {
  overflow-y: auto;
  height: 80%;
  width:  100%;
  //position:  absolute;
  right: 0;
  top: 0;
}

table {
  border: 1px solid;
  text-align: center;
}
th {
  border: 1px solid;
  background-color: var(--palia-blue);
  color: white;
  position: sticky;
  top: 0;
}
td {
  border: 1px solid;
  padding: 10px;
}
tr:hover {background-color: var(--color-background-mute)}
